body{
    background-color:rgb(239, 248, 248)}

div nav{
    background-color:azure


}
div footer{
    background-color: white;
}
header{
    background-color: white;
}
ol{
        font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;}
    main{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }



